<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form action="/team" method="post"> 
  <div>
    <label for="name">Team Name:</label>
    <input type="text" id="name" name="name" />
  <div>
  <div>
    <label for="coach">Coach:</label>
    <input type="text" id="coach" name="coach" />
  <div>
  <div>
    <label for="pg">Point Guard:</label>
    <input type="text" id="pg" name="pg" />
  <div>
  <div>
    <label for="sg">Shooting Guard:</label>
    <input type="text" id="sg" name="sg" />
  <div>
  <div>
    <label for="sf">Small Forward:</label>
    <input type="text" id="sf" name="sf" />
  <div>
  <div>
    <label for="pf">Power Forward:</label>
    <input type="text" id="pf" name="pf" />
  <div>
  <div>
    <label for="c">Center:</label>
    <input type="text" id="c" name="c" />
  <div>
  <div>
    <input type="submit" value="Submit">
  </div>
  
 </body>
</html>


